<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>General Layout</title>
<link rel="stylesheet" href="css/general.css">
</head>

<body>
<div class="generalWrapper generealheadrfixed clearfix">
  <div class="generalHeader clearfix">Header</div>
  <div class="generalMiddle clearfix">
    <div class="generalsidebar_left">Slider bar left</div>
    <div class="generalsidebar_right">Slider bar Right</div>
    <div class="generalsidebar">Middle</div>
  </div>
  <div class="generalFooter clearfix">Footer</div>
</div>
</body>
</html>
