@charset "utf-8";
/* CSS Document */

body{ margin:0; padding:0; }

.header{ background:#2d3e50; color:#FFF; padding:5px;}
.logocontainer{ width:30%; display:inline-block}
.logoicon{ display:inline-block; vertical-align:middle;}
.navbar-collapse{ width:40%; display:inline-block;}
.menuright{ float:right; }
